
.dynamics {
    color: transparent;
    background: -webkit-linear-gradient(30deg, #32c5ff 25%, #b620e0 50%, #f7b500 75%, #20e050 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: auto;
    animation: Text 300s infinite linear;
    -webkit-animation: Text 300s infinite linear;
}

@keyframes Text {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 28000px;
    }
}



  #cat{
    font: 20px Arial;
    margin:-15px auto;
    animation: mycat 5s infinite;
    transform-origin: 50%;
  }

  @keyframes mycat
  {
    from {transform: rotate(360deg);}
    to {transform: rotate(-360deg);}
  }

  .chat-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: flex-start;
  }
  
  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .message-box {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    flex: 1;
  }