.ChatApp,
.MessageContainer,
.Navbar,
.Message .Bubble,
.QuickReplies,
.ChatFooter {
  background-repeat: no-repeat;
  background-size: cover;
}
.ChatApp {
  background-color: #ffffff;
}
.Navbar {
  background-color: #ffffff;
}
.Message.left .Bubble {
  background-color: #f3f3f3;
}
.Message.right .Bubble {
  background-color: #dcffc9;
}
.QuickReplies,
.ChatFooter {
  background-color: #ffffff;
}

.Input{
    outline-style: none ;
    border: 1px solid #ccc; 
}

.Input:focus {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  }

.Composer{
    border-top-style: 1px solid #ccc; 
}